@page
@model AnimalModel
@{
    ViewData["Title"] = "Animal";
}
<h1>@ViewData["Title"]</h1>

<img src="https://i.etsystatic.com/18460845/r/il/ad3036/1803249808/il_794xN.1803249808_puql.jpg" alt="cat">
